
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
   <meta charset="utf-8">
   <link rel="icon" type="image/ico" href="/static/img/favicon.png" />
   <title>ImpactStory: {{ current_dashboard_name }}</title>

   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
   {% assets "js_all" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
   {% endassets %}

   {% assets "css_all" %}
      <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
   {% endassets %}



</head>
<body>
<div id="navbar">
   <h1><img class="brand" src="{{ url_for("static", filename="img/impactstory-logo-small.png") }}"/> <span class="sub">analytics</span></h1>
   <ul class="nav">
      {%  for dashboard_name in g.dashboards.keys()|reverse %}
         {% if dashboard_name == current_dashboard_name %}
            {% set nav_link_class = "active"  %}
         {% else %}
            {% set nav_link_class = "inactive"  %}
         {% endif %}

         <li><a class="{{ nav_link_class }}" href='{{ url_for("dashboard", dashboard_name=dashboard_name )}}'>{{ dashboard_name|replace("_", " ") }}</a></li>
      {% endfor %}
   </ul>
</div>
<div id="content">

{{ dashboard_name }}

{% block content %}{% endblock %}

</div>
</body>
</html>
