{% extends "base.html" %}
{% set page_title = "Share the full story of your research impact" %}


{% block content %}

<script type="text/javascript">
   var widgetNames = JSON.parse('{{ widget_names|tojson|safe }}')
</script>


<div class="dashboard dashboard-productivity">

   <div class="widget widget-gmail-sparklines ">
      <h2>Gmail inbox<span>last 48hrs</span></h2>
      <div class="container">
         <div class="sparkline-with-numbers widget-gmail-sparklines Heather">
            <span class="sparkline-label">Heather</span>
            <span class="sparkline graphic"></span>
            <span class="primary number">
               <span class="value"></span>
               <span class="label"></span>
            </span>
            <span class="secondary number">
               <span class="value"></span>
               <span class="label">max</span>
            </span>
         </div>
         <div class="sparkline-with-numbers widget-gmail-sparklines Jason">
            <span class="sparkline-label">Jason</span>
            <span class="sparkline graphic"></span>
            <span class="primary number">
               <span class="value"></span>
               <span class="label"></span>
            </span>
            <span class="secondary number">
               <span class="value"></span>
               <span class="label">max</span>
            </span>
         </div>
      </div>
   </div>

   <div class="widget widget-rescuetime Heather">
      <h2>Heather Rescuetime<span>last 7 days</span></h2>
      <div class="container">
         <div class="y_axis"></div>
         <div class="graphic rickshaw bar"></div>
      </div>
   </div>

   <div class="widget widget-rescuetime Jason">
      <h2>Jason Rescuetime<span>last 7 days</span></h2>
      <div class="container">
         <div class="y_axis"></div>
         <div class="graphic rickshaw bar"></div>
      </div>
   </div>


   <div class="widget widget-github-issues-sparklines ">
      <h2>Github issues<span>last 30 days</span></h2>
      <div class="container">
         <div class="sparkline-with-numbers github-issues-webapp">
            <span class="sparkline-label"><a href="https://github.com/total-impact/total-impact-webapp/issues?state=open">Webapp</a></span>
            <span class="sparkline graphic"></span>
            <span class="primary number">
               <span class="value"></span>
               <span class="label"></span>
            </span>
            <span class="secondary number">
               <span class="value"></span>
               <span class="label">max</span>
            </span>
         </div>
         <div class="sparkline-with-numbers github-issues-core">
            <span class="sparkline-label"><a href="https://github.com/total-impact/total-impact-core/issues?state=open">Core</a></span>
            <span class="sparkline graphic"></span>
            <span class="primary number">
               <span class="value"></span>
               <span class="label"></span>
            </span>
            <span class="secondary number">
               <span class="value"></span>
               <span class="label">max</span>
            </span>
         </div>
      </div>
   </div>



</div>


<div class="dashboard dashboard-main">

</div>


<div id="chart"></div>


{% endblock %}
