{% extends "base.html" %}
{% set page_title = "Share the full story of your research impact" %}


{% block content %}

<script type="text/javascript">
   var widgetNames = JSON.parse('{{ widget_names|tojson|safe }}')
</script>


<div class="dashboard dashboard-productivity">
   <div class="widget widget-gmail ">
      <h2>Gmail inbox</h2>
      <div class="container">
         <div class="y_axis"></div>
         <div class="graphic rickshaw"></div>
      </div>
   </div>
</div>


<div class="dashboard dashboard-main">

</div>


<div id="chart"></div>


{% endblock %}
