body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue";
  color: #333;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #ff4e00;
}
div#navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  padding: 0 20px;
  left: 0;
  right: 0;
  background: #333;
}
div#navbar h1 {
  float: left;
  font-size: 15px;
  margin: 0;
  padding: 7px 0 0;
  font-family: "Helvetica Neue";
  font-weight: lighter;
}
div#navbar h1 img {
  height: 23px;
  float: left;
}
div#navbar h1 span {
  float: left;
  margin-top: 5px;
  padding-left: 10px;
  text-transform: uppercase;
  color: #ff4e00;
  letter-spacing: 2px;
  font-size: 13px;
}
div#navbar span.last-updated {
  color: #aaa;
  float: left;
  font-size: 12px;
  display: inline-block;
  margin: 16px 0 0 10px;
}
div#navbar ul.nav {
  padding: 0;
  margin: 0;
}
div#navbar ul.nav li {
  list-style-type: none;
  float: right;
}
div#navbar ul.nav li a {
  padding: 10px;
  font-size: 14px;
  display: block;
  color: #bbb;
}
div#navbar ul.nav li a:hover {
  color: #ff4e00;
  text-decoration: none;
}
div#navbar ul.nav li a.active {
  color: #ff4e00;
  background: url(../img/triangle-pointing-up.png) no-repeat bottom center;
}
div#navbar ul.nav li a.active:hover {
  text-decoration: none;
  cursor: default;
}
div#content {
  margin-top: 80px;
  padding: 0 20px;
}
div.dashboard.dashboard-health .widget-exceptions {
  clear: both;
}
div.dashboard.dashboard-engagement .widget-monthly_active_users {
  margin-bottom: 50px;
}
div.dashboard div.widgets-vertical {
  float: left;
}
div.dashboard div.widget {
  padding: 10px;
  margin: 0 20px 20px;
  float: left;
}
div.dashboard div.widget.widget-rescuetime {
  min-width: 225px;
}
div.dashboard div.widget.widget-iframe div.container {
  width: 742px;
  height: 540px;
  overflow: hidden;
  background: #eee;
  position: relative;
  border: 5px solid #bbb;
}
div.dashboard div.widget.widget-iframe div.container iframe {
  width: 1100px;
  height: 800px;
  -webkit-transform: scale(0.675);
  position: absolute;
  top: -130px;
  left: -179px;
  z-index: 1;
}
div.dashboard div.widget.widget-iframe div.container iframe path {
  fill: red !important;
}
div.dashboard div.widget.widget-iframe.widget-newrelic div.container {
  width: 206px;
  height: 135px;
  border-width: 1px;
}
div.dashboard div.widget.widget-iframe.widget-newrelic div.container iframe {
  width: 1100px;
  height: 800px;
  -webkit-transform: scale(0.2);
  top: -334px;
  left: -447px;
}
div.dashboard div.widget h2 {
  padding: 0;
  margin-bottom: 15px;
  border-bottom: 2px solid #555555;
  font-size: 16px;
  position: relative;
  color: #555555;
  width: 100%;
}
div.dashboard div.widget h2 span {
  font-size: 66%;
  font-weight: normal;
  color: #666;
  position: absolute;
  padding: 0;
  right: 0;
  bottom: 0;
}
div.dashboard div.widget div.container {
  position: relative;
}
div.dashboard div.widget div.container div.y_axis {
  top: 0;
  position: absolute;
  bottom: 0;
  width: 20px;
}
div.dashboard div.widget div.container div.graphic {
  position: relative;
}
div.dashboard div.widget div.container div.graphic.rickshaw_graph {
  left: 20px;
}
div.dashboard div.widget div.container div.graphic.rickshaw_graph div.x_tick div.title {
  bottom: -16px;
}
div.dashboard div.widget div.container div.graphic.rickshaw_graph.bar div.x_tick {
  border: none;
}
div.dashboard div.widget div.container div.sparkline-with-numbers {
  color: #16a085;
  margin-bottom: 20px;
  float: left;
  clear: both;
  width: 100%;
  font-size: 18px;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.show-sparkline-false span.sparkline {
  display: none;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.size-small {
  font-size: 15px;
  margin-bottom: 9px;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.size-small.highlight-true {
  margin-top: 0;
  padding-top: 7.5px;
  border-top-width: 1px;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.size-small a.sparkline-label {
  font-size: 13.5px;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.size-small a.sparkline-label.label-width-1 {
  width: 85px;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.size-small a.sparkline-label.label-width-2 {
  width: 150px;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.size-small span.primary span.value {
  font-size: 15px;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.size-small span.sep {
  display: inline;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.size-small span.secondary {
  font-size: 9px;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.size-small span.secondary span.value {
  font-size: 12px;
  font-weight: normal;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.border-top-true {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.highlight-true {
  margin-top: 10px;
  padding-top: 20px;
  border-top: 2px solid #ddd;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.highlight-true a.sparkline-label {
  font-weight: bold;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.type-bar canvas {
  margin-top: -3px;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.unit-default span.unit {
  display: none;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.unit-percent {
  color: #2980b9;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.unit-percent a.sparkline-label[href='#'] {
  color: #2980b9;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.unit-percent span.sep {
  display: none;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.unit-percent span.secondary span.value {
  color: #2980b9;
}
div.dashboard div.widget div.container div.sparkline-with-numbers.unit-percent span.secondary span.label {
  color: #aaa;
}
div.dashboard div.widget div.container div.sparkline-with-numbers a.sparkline-label {
  text-align: right;
  display: inline-block;
  font-size: 13.5px;
  padding-top: 0;
}
div.dashboard div.widget div.container div.sparkline-with-numbers a.sparkline-label.label-width-1 {
  width: 85px;
}
div.dashboard div.widget div.container div.sparkline-with-numbers a.sparkline-label.label-width-2 {
  width: 150px;
}
div.dashboard div.widget div.container div.sparkline-with-numbers a.sparkline-label.label-width-3 {
  width: 215px;
}
div.dashboard div.widget div.container div.sparkline-with-numbers a.sparkline-label[href='#'] {
  cursor: default;
  color: #16a085;
}
div.dashboard div.widget div.container div.sparkline-with-numbers a.sparkline-label[href='#']:hover {
  text-decoration: none;
}
div.dashboard div.widget div.container div.sparkline-with-numbers span.primary span.value {
  font-weight: bolder;
  font-size: 18px;
}
div.dashboard div.widget div.container div.sparkline-with-numbers span.primary span.unit {
  margin-left: -6px;
  font-weight: lighter;
  font-size: 12.6px;
}
div.dashboard div.widget div.container div.sparkline-with-numbers span.sep {
  font-size: 12.6px;
  font-weight: lighter;
  margin-right: -4px;
}
div.dashboard div.widget div.container div.sparkline-with-numbers span.secondary {
  font-size: 7.2px;
  font-weight: normal;
}
div.dashboard div.widget div.container div.sparkline-with-numbers span.secondary span.value {
  font-weight: lighter;
  font-size: 12.6px;
}
div.dashboard div.widget div.container div.sparkline-with-numbers span.secondary span.unit {
  margin-left: -4px;
}
div.dashboard div.widget div.container div.sparkline-with-numbers span.secondary span.label {
  color: #aaa;
}
div#jqstooltip {
  display: block;
  padding: 7px 25px 7px 7px;
  border-radius: 3px;
  border: none;
  font-family: "Helvetica Neue";
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.7);
}
div#jqstooltip span {
  font-weight: bold;
}
