{% extends "dashboard.html" %}

{% block dashboard_content %}
   <div class="dashboard dashboard-api">


      <div class="widget widget_api_key_item_views sparkline-set">
         <h2>product views via api<span>hourly average, this 30 days</span></h2>
         <div class="container"></div>
      </div>

      <div class="widget widget_api_key_item_creates sparkline-set">
         <h2>product creates via api<span>hourly average, this 30 days</span></h2>
         <div class="container"></div>
      </div>

      <div class="widget embedded-widget-use sparkline-set">
         <h2>embedded widget use<span>hourly average, this 30 days</span></h2>
         <div class="container"></div>
      </div>

      <div class="widget widget-api_keys-minted sparkline-set">
         <h2>minted keys<span>since Nov 2012</span></h2>
         <div class="container"></div>
      </div>

      <div class="widget widget-api_key_limit_exceeded sparkline-set">
         <h2>hit registration limit<span>this 30 days</span></h2>
         <div class="container"></div>
      </div>

   </div>


{% endblock %}
