{% extends "dashboard.html" %}

{% block dashboard_content %}
<div class="dashboard dashboard-engagement">


   <div class="widget widget-signup_funnel sparkline-set">
      <h2>signup funnel<span>last 7 days</span></h2>
      <div class="container"></div>
   </div>

   <div class="widget widget-signup_growth sparkline-set">
      <h2>signup growth<span>weekly since Jan 2013</span></h2>
      <div class="container"></div>
   </div>

   <div class="widget widget-monthly_active_users sparkline-set">
      <h2>MAU<span>last 7 days<br>MONTHLY ACTIVES NOT YET ACCURATE</span></h2>
      <div class="container"></div>
   </div>

   <div class="widget widget-daily_new_users sparkline-set">
      <h2>daily signups<span>last 30 days</span></h2>
      <div class="container"></div>
   </div>

   <!--<div class="widget widget-sample sparkline-set">
      <h2>Sample 100 account visit timelines</h2>
      <div class="container"></div>
   </div>-->

</div>


{% endblock %}
