{% extends "dashboard.html" %}

{% block dashboard_content %}
   <div class="dashboard dashboard-api">

      <div class="widget widget-showstopper_papertrail_alerts sparkline-set">
         <h2>Showstopping errors<span>THIS 30 days</span></h2>
         <div class="container"></div>
      </div>

      <div class="widget widget-exceptions sparkline-set">
         <h2>Exceptions<span>THIS 30 days</span></h2>
         <div class="container"></div>
      </div>

      <div class="widget widget-profile-load-times sparkline-set">
         <h2>Profile loads<span>last 30 days</span></h2>
         <div class="container"></div>
      </div>

      <div class="widget widget-newrelic widget-iframe">
         <h2><a href="https://heroku.newrelic.com/public/charts/7KClg7wf2B0">Webapp throughput</a><span>7 days</span></h2>
         <div class="container">
            <iframe class="newrelic" seamless="seamless" src="https://heroku.newrelic.com/public/charts/7KClg7wf2B0"></iframe>
         </div>
      </div>

      <div class="widget widget-newrelic widget-iframe">
         <h2><a href="https://heroku.newrelic.com/public/charts/9swxCpbTxWM">Webapp apdex</a><span>7 days</span></h2>
         <div class="container">
            <iframe class="newrelic" seamless="seamless" src="https://heroku.newrelic.com/public/charts/9swxCpbTxWM"></iframe>
         </div>
      </div>

      <div class="widget widget-newrelic widget-iframe">
         <h2><a href="https://heroku.newrelic.com/public/charts/hLWZBABX5dn">Core throughput</a><span>7 days</span></h2>
         <div class="container">
            <iframe class="newrelic" seamless="seamless" src="https://heroku.newrelic.com/public/charts/hLWZBABX5dn"></iframe>
         </div>
      </div>

      <div class="widget widget-newrelic widget-iframe">
         <h2><a href="https://heroku.newrelic.com/public/charts/dSkZ9oqSh5R">Core apdex</a><span>7 days</span></h2>
         <div class="container">
            <iframe class="newrelic" seamless="seamless" src="https://heroku.newrelic.com/public/charts/dSkZ9oqSh5R"></iframe>
         </div>
      </div>


   </div>


{% endblock %}
