{% extends "dashboard.html" %}

{% block dashboard_content %}
   <div class="dashboard dashboard-api">

      <div class="widget widget-showstopper_papertrail_alerts sparkline-set">
         <h2>Showstopping errors<span>THIS 30 days</span></h2>
         <div class="container"></div>
      </div>

      <div class="widget widget-exceptions sparkline-set">
         <h2>Exceptions<span>THIS 30 days</span></h2>
         <div class="container"></div>
      </div>

      <div class="widget widget-profile-load-times sparkline-set">
         <h2>Profile loads<span>last 30 days</span></h2>
         <div class="container"></div>
      </div>

      <div class="widget widget-newrelic widget-iframe">
         <h2>performance webapp<span></span></h2>
         <div class="container">
            <iframe class="newrelic" seamless="seamless" src="https://heroku.newrelic.com/public/charts/3adyEcZLldv">
            </iframe>
         </div>
      </div>


   </div>


{% endblock %}
