{% extends "dashboard.html" %}

{% block dashboard_content %}
<div class="dashboard dashboard-productivity">

   <div class="widget widget-gmail sparkline-set">
      <h2>gmail inbox<span>last 48hrs</span></h2>
      <div class="container"></div>
   </div>

   <div class="widget widget-rescuetime Heather">
      <h2>heather rescuetime<span>last 7 days</span></h2>
      <div class="container">
         <div class="y_axis"></div>
         <div class="graphic rickshaw bar"></div>
      </div>
   </div>

   <div class="widget widget-rescuetime Jason">
      <h2>jason rescuetime<span>last 7 days</span></h2>
      <div class="container">
         <div class="y_axis"></div>
         <div class="graphic rickshaw bar"></div>
      </div>
   </div>

   <div class="widget widget-github-issues sparkline-set">
      <h2>github issues<span>last 30 days</span></h2>
      <div class="container"></div>
   </div>

   <div class="widget widget-uservoice_tickets sparkline-set">
      <h2><a href="https://impactstory.uservoice.com/admin/reports/ticket_backlog">uservoice tickets</a>
         <span>last 30 days</span>
      </h2>
      <div class="container"></div>
   </div>

   <div class="widget widget-uservoice_suggestions sparkline-set">
      <h2>uservoice suggestions<span>30 days</span></h2>
      <div class="container"></div>
   </div>

   <div class="widget widget-uservoice_suggestions_upvoted sparkline-set">
      <h2>upvoted suggestions<span>all time</span></h2>
      <div class="container"></div>
   </div>
   
   <div class="widget widget-exceptions sparkline-set">
      <h2>exceptions<span>last 30 days</span></h2>
      <div class="container"></div>
   </div>
   
</div>


{% endblock %}
