{% extends "dashboard.html" %}

{% block dashboard_content %}
<div class="dashboard dashboard-productivity">

   <div class="widget widget-gmail sparkline-set">
      <h2>Gmail inbox<span>last 48hrs</span></h2>
      <div class="container"></div>
   </div>

   <div class="widget widget-rescuetime Heather">
      <h2>Heather Rescuetime<span>last 7 days</span></h2>
      <div class="container">
         <div class="y_axis"></div>
         <div class="graphic rickshaw bar"></div>
      </div>
   </div>

   <div class="widget widget-rescuetime Jason">
      <h2>Jason Rescuetime<span>last 7 days</span></h2>
      <div class="container">
         <div class="y_axis"></div>
         <div class="graphic rickshaw bar"></div>
      </div>
   </div>


   <div class="widget widget-github-issues sparkline-set">
      <h2>Github issues<span>last 30 days</span></h2>
      <div class="container"></div>
   </div>

   <div class="widget widget-uservoice_tickets sparkline-set">
      <h2>UserVoice tickets<span>last 30 days</span></h2>
      <div class="container"></div>
   </div>

   <div class="widget widget-uservoice_suggestions sparkline-set">
      <h2>UserVoice suggestions<span>30 days</span></h2>
      <div class="container"></div>
   </div>

</div>


{% endblock %}
