{% extends "dashboard.html" %}

{% block dashboard_content %}
   <div class="dashboard dashboard-profiles">

      <div class="widget widget-sample sparkline-set">
         <h2>Sample Widget for c/p<span>last 24 hours</span></h2>
         <div class="container"></div>
      </div>


      <div class="widget widget-products_per_profile sparkline-set">
         <h2>products per profile<span>since Profile Era</span></h2>
         <div class="container"></div>
      </div>



   </div>


{% endblock %}
