{% extends "dashboard.html" %}

{% block dashboard_content %}
   <div class="dashboard dashboard-latest">


      <div class="widget widget-latest-profile widget-iframe">
         <h2>latest profile<span></span></h2>
         <div class="container">
            <iframe class="latest-profile" seamless="seamless"></iframe>
         </div>
      </div>

	   <div class="widget widget-hourly_uniques sparkline-set">
	      <h2>hourly uniques<span>this 72 hours</span></h2>
	      <div class="container"></div>
	   </div>

   </div>


{% endblock %}
