@linkColor: #FF4E00;
@percentColor: indianred;

body {
   padding: 0;
   margin: 0;
   font-family: "Helvetica Neue";
   color:  #333;
}

a {
   text-decoration: none;
   &:hover{
      text-decoration: underline;
      color:  @linkColor;
   }
}

div#navbar {
   position: fixed;
   z-index: 1000;
   top: 0;
   padding: 0 20px 6px;
   left: 0;
   right: 0;
   border-bottom: 1px solid #eee;
   background:  #fff;
   h1 {
      float:left;
      font-size: 15px;
      margin: 0;
      padding: 0;
      img {
         height:  23px;
         margin-top: 10px;
         float:left;
      }
      font-family: "Helvetica Neue";
      font-weight: lighter;
      span {
         float:left;
         height: 22px;
         margin-top: 13px;
         padding-left: 10px;
         text-transform: uppercase;
         color: @linkColor;
         letter-spacing: 1px;
      }
   }
   span.last-updated {
      color:  #aaa;
      float:left;
      font-size: 12px;
      display: inline-block;
      margin: 16px 0 0 10px;
      span.value {

      }
   }

   ul.nav {
      padding: 0;
      margin: 0;
      li {
         list-style-type: none;
         float:right;
         a {
            padding: 12px 8px 0;
            font-size: 14px;
            display: block;
            color: #555;
            &:hover{
               color: @linkColor;
               text-decoration: none;
            }
            &.active {
               color: @linkColor;
               font-weight: bold;
               &:hover {
                  text-decoration: none;
                  cursor: default;
               }
            }
         }
      }
   }
}

div#content {
   margin-top: 100px;
   padding: 0 50px;
}


div.dashboard {
   div.widget {
      padding:  10px 40px 10px 10px;
      float:left;
      &.widget-iframe {
         div.container{ // default for all iframe widgets
            width: 742px;
            height: 540px;
            overflow: hidden;
            background: #eee;
            position: relative;
            border: 5px solid #bbb;
            iframe{
               width: 1100px;
               height: 800px;
               -webkit-transform: scale(0.675);
               position:absolute;
               top:  -130px;
               left:  -179px;
               z-index: 1;
               path {
                  fill: red !important;
               }
            }
         }
         &.widget-newrelic { // just for the new relic widgets
            div.container {
               width: 206px;
               height: 135px;
               border-width: 1px;
               iframe {
                  width: 1100px;
                  height: 800px;
                  -webkit-transform: scale(0.2);
                  top:  -334px;
                  left:  -447px;
               }
            }
         }
      }
      h2 {
         padding: 0 0 3px 10px;
         margin-bottom: 15px;
         border-bottom: 2px solid #333;
         font-size: 16px;
         position: relative;
         span {
            font-size: 66%;
            font-weight: normal;
            color: #666;
            position: absolute;
            padding: 0 10px 3px 0;
            right: 0;
            bottom: 0;
         }
      }
      div.container {
         position: relative;
         div.y_axis {
            top: 0;
            position: absolute;
            bottom: 0;
            width:  20px;
         }

         div.graphic {
            position: relative;
            &.rickshaw_graph {
               left: 20px;
               div.x_tick {
                  div.title {
                     bottom:  -16px;
                  }
               }
               &.bar {
                  div.x_tick {
                     border: none;
                  }
               }
            }
         }

         div.sparkline-with-numbers {
            @baseFontSize: 18px;

            margin-bottom: 20px;
            float:left;
            clear:both;
            width: 100%;
            font-size: @baseFontSize;
            &.show-sparkline-false {
               span.sparkline {
                  display: none;
               }
            }
            &.size-small {
               @baseFontSize: 15px;
               font-size:  @baseFontSize;
               margin-bottom: @baseFontSize * .6;
               &.highlight-true {
                  margin-top: 0;
                  padding-top: @baseFontSize * .5;
                  border-top-width: 1px;
               }
               a.sparkline-label {
                  font-size: @baseFontSize * .9;
                  &.label-width-1 {
                     width: 85px;
                  }
                  &.label-width-2 {
                     width: 150px;
                  }
               }
               span.primary {
                  span.value{
                     font-size: @baseFontSize;
                  }
               }
               span.sep{
                  display:inline;
               }
               span.secondary {
                  font-size: @baseFontSize * .6;
                  span.value {
                     font-size: @baseFontSize * .8;
                     font-weight: normal;
                  }

               }
            }
            &.border-top-true {
               border-top:  1px solid #ddd;
               padding-top: 10px;
            }
            &.highlight-true{
               margin-top: 10px;
               padding-top: 20px;
               border-top:  2px solid #ddd;
               a.sparkline-label {
                  font-weight: bold;
               }
            }
            &.type-bar {
               canvas {
                  margin-top: -3px;
               }
            }
            &.unit-default {
               span.unit {
                  display: none;
               }
            }
            &.unit-percent {
               color: @percentColor;
               a.sparkline-label {
                  &[href='#'] {
                     color: @percentColor;
                  }
               }
               span.sep {display:none;}
               span.secondary {
                  span.value {
                     color:  @percentColor;
                  }
                  span.label {
                     color:  #aaa;
                  }
               }
            }
            a.sparkline-label{
               text-align: right;
               display: inline-block;
               font-size: @baseFontSize * .75;
               padding-top:0;
               &.label-width-1 {
                  width: 85px;
               }
               &.label-width-2 {
                  width: 150px;
               }
               &.label-width-3 {
                  width: 215px;
               }
               &[href='#'] {
                  cursor: default;
                  color: #555;
                  &:hover{
                     text-decoration: none;
                  }
               }

            }
            span.sparkline {
               canvas {
               }
            }
            span.primary {
               span.value{
                  font-weight: bolder;
                  font-size: @baseFontSize;
               }
               span.unit {
                  margin-left: -6px;
                  font-weight: lighter;
                  font-size:  @baseFontSize * .7;
               }
            }
            span.sep {
               font-size:  @baseFontSize * .7;
               font-weight: lighter;
               margin-right: -4px;
            }
            span.secondary {
               font-size: @baseFontSize * .4;
               font-weight: normal;
               span.value{
                  font-weight: lighter;
                  font-size: @baseFontSize * .7;
               }
               span.unit {
                  margin-left: -4px;
               }
               span.label {
                  color:  #aaa;
               }
            }
         }
      }
   }

}

div#jqstooltip {
   display:block;
   padding: 7px 25px 7px 7px;
   border-radius: 3px;
   border: none;
   font-family: "Helvetica Neue";
   font-weight: 100;
   font-size: 12px;
   letter-spacing: 1px;
   background: rgba(0, 0, 0, .7);
   span{
      font-weight: bold;
   }
}











