@linkColor: #FF4E00;
@scalarColor: #3498db;
@percentColor: #2ecc71;

@percentColorLight: lighten(@percentColor, 70%);
@scalarColorLight: lighten(@percentColor, 70%);
@neutralColor: #555;

body {
   padding: 0;
   margin: 0;
   font-family: "Helvetica Neue";
   color:  #333;
}

a {
   text-decoration: none;
   color:  @linkColor;
   &:hover{
      text-decoration: underline;
      color:  @linkColor;
   }
   &:visited {
      color:  @linkColor;
   }
}

div#navbar {
   position: fixed;
   z-index: 1000;
   top: 0;
   padding: 0 20px;
   left: 0;
   right: 0;
   background:  #333;
   h1 {
      float:left;
      font-size: 15px;
      margin: 0;
      padding: 7px 0 0;
      img {
         height:  23px;
         float:left;
      }
      font-family: "Helvetica Neue";
      font-weight: lighter;
      span {
         float:left;
         margin-top: 5px;
         padding-left: 10px;
         text-transform: uppercase;
         color: @linkColor;
         color:  #ddd;
         letter-spacing: 2px;
         font-size: 13px;
      }
   }
   span.last-updated {
      color:  #aaa;
      float:left;
      font-size: 12px;
      display: inline-block;
      margin: 16px 0 0 10px;
      span.value {

      }
   }

   ul.nav {
      padding: 0;
      margin: 0;
      li {
         list-style-type: none;
         float:right;
         a {
            padding: 10px;
            font-size: 13px;
            display: block;
            color: #bbb;
            font-weight: lighter;
            letter-spacing: 1px;
            &:hover{
               color: @linkColor;
               text-decoration: none;
            }
            &.active {
               color: @linkColor;
               background: url(../img/triangle-pointing-up.png) no-repeat bottom center;
               &:hover {
                  text-decoration: none;
                  cursor: default;
               }
            }
         }
      }
   }
}

div#content {
   margin-top: 80px;
   padding: 0 20px;
}


div.dashboard {

   // positioning for individual widgets, to fit on page better.
   &.dashboard-health {
      .widget-exceptions {
         clear:both;
      }
   }
   &.dashboard-engagement{
      .widget-monthly_active_users {
         margin-bottom: 50px;
      }
   }

   div.widgets-vertical{
      float: left;
   }
   div.clear-left{
      clear: left;
   }   
   div.widget {
      padding:  10px;
      margin: 0 20px 20px;
      float:left;

      // types of widgets
      &.widget-rescuetime {
         min-width: 225px;
      }
      &.widget-iframe {
         div.container{ // default for all iframe widgets
            width: 742px;
            height: 540px;
            overflow: hidden;
            background: #eee;
            position: relative;
            border: 5px solid #bbb;
            iframe{
               width: 1100px;
               height: 800px;
               -webkit-transform: scale(0.675);
               position:absolute;
               top:  -130px;
               left:  -179px;
               z-index: 1;
               path {
                  fill: red !important;
               }
            }
         }
         &.widget-newrelic { // just for the new relic widgets
            div.container {
               width: 206px;
               height: 135px;
               border-width: 1px;
               iframe {
                  width: 1100px;
                  height: 800px;
                  -webkit-transform: scale(0.2);
                  top:  -334px;
                  left:  -447px;
               }
            }
         }
      }
      h2 {
         padding: 0;
         margin-bottom: 15px;
         border-bottom: 2px solid @neutralColor;
         font-size: 16px;
         position: relative;
         color:  @neutralColor;
         width:  100%;
         span {
            font-size: 66%;
            font-weight: normal;
            color: #666;
            position: absolute;
            padding: 0;
            right: 0;
            bottom: 0;
         }
      }
      div.container {
         position: relative;
         div.y_axis {
            top: 0;
            position: absolute;
            bottom: 0;
            width:  20px;
         }

         div.graphic {
            position: relative;
            &.rickshaw_graph {
               left: 20px;
               div.x_tick {
                  div.title {
                     bottom:  -16px;
                  }
               }
               &.bar {
                  div.x_tick {
                     border: none;
                  }
               }
            }
         }

         div.sparkline-with-numbers {
            @baseFontSize: 18px;
            color: @scalarColor;

            margin-bottom: 20px;
            float:left;
            clear:both;
            width: 100%;
            font-size: @baseFontSize;
            span.sep {
               display:none;
            }
            span.primary {
               span.value{
                  display: inline-block;
                  text-align: right;
                  min-width: 30px;
                  font-weight: bolder;
                  font-size: @baseFontSize * 1.2;
               }
               span.unit {
                  margin-left: -5px;
                  font-weight: lighter;
                  font-size:  @baseFontSize * .7;
               }
            }
            span.secondary {
               font-size: @baseFontSize * .5;
               font-weight: normal;
               span.value{
                  font-weight: lighter;
                  font-size: @baseFontSize * .7;
               }
               span.unit {
                  margin-left: -3px;
               }
               span.label {
                  color:  #aaa;
               }
            }
            a.sparkline-label{
               text-align: right;
               display: inline-block;
               font-size: @baseFontSize * .75;
               padding-top:0;
               color:  @linkColor;
               &.label-width-1 {
                  width: 85px;
               }
               &.label-width-2 {
                  width: 150px;
               }
               &.label-width-3 {
                  width: 215px;
               }
               &[href='#'] {
                  cursor: default;
                  text-decoration: none;
                  color: @scalarColor;
                  &:hover{
                     text-decoration: underline;
                  }
               }

            }
            span.sparkline {
               canvas {
                  margin-top: 2px;
               }
            }
            &.show-sparkline-false {
               span.sparkline {
                  display: none;
               }
            }
            &.size-large {
               @baseFontSize: 30px;
               font-size: @baseFontSize;
               a.sparkline-label {
                  font-size: @baseFontSize * .75;
               }
               span.primary {
                  span.value {
                     font-size: @baseFontSize;
                  }
               }
            }
            &.size-small {
               @baseFontSize: 15px;
               font-size:  @baseFontSize;
               margin-bottom: @baseFontSize * .6;
               &.highlight-true {
                  margin-top: 0;
                  padding-top: @baseFontSize * .5;
                  border-top-width: 1px;
               }
               a.sparkline-label {
                  font-size: @baseFontSize * .9;
                  text-decoration: underline;
                  &.label-width-1 {
                     width: 85px;
                  }
                  &.label-width-2 {
                     width: 150px;
                  }
               }
               span.primary {
                  span.value{
                     font-size: @baseFontSize;
                  }
               }
               span.secondary {
                  span.value {
                     font-size: @baseFontSize * .8;
                     font-weight: normal;
                  }

               }
            }
            &.border-top-true {
               border-top:  1px solid #ddd;
               padding-top: 10px;
            }
            &.highlight-true{
               margin-top: 10px;
               padding-top: 20px;
               border-top:  2px solid #ddd;
               a.sparkline-label {
                  font-weight: bold;
               }
               span.secondary {
                  span.value {
                     font-weight: bold;
                  }
               }
            }
            &.type-bar {
               canvas {
                  margin-top: -3px;
               }
            }
            &.unit-default {
               span.unit {
                  display: none;
               }
            }
            &.unit-percent {
               a.sparkline-label {
                  &[href='#'] {
                     color: @percentColor;
                  }
               }
               span.primary{
                  color: @percentColor;
               }
               span.secondary {
                  span.value {
                     color:  @percentColor;
                  }
                  span.unit {
                     color:  @percentColor;
                  }
                  span.label {
                     color:  #aaa;
                  }
               }
            }

         }
      }
   }

}

div#jqstooltip {
   display:block;
   padding: 7px 25px 7px 7px;
   border-radius: 3px;
   border: none;
   font-family: "Helvetica Neue";
   font-weight: 100;
   font-size: 12px;
   letter-spacing: 1px;
   background: rgba(0, 0, 0, .7);
   span{
      font-weight: bold;
   }
}











