@linkColor: #FF4E00;

body {
   padding: 0;
   margin: 0;
   font-family: "Helvetica Neue";
}

a {
   text-decoration: none;
   &:hover{
      text-decoration: underline;
   }
}

div#navbar {
   position: fixed;
   top: 0;
   padding: 5px 20px;
   left: 0;
   right: 0;
   border-bottom: 1px solid #aaa;
   h1 {
      float:left;
      font-size: 15px;
      margin: 0;
      padding: 0;
      img {
         height:  23px;
         margin-top: 10px;
         float:left;
      }
      font-family: "Helvetica Neue";
      font-weight: lighter;
      span {
         float:left;
         height: 22px;
         margin-top: 13px;
         padding-left: 10px;
         text-transform: uppercase;
         color: @linkColor;
         letter-spacing: 1px;
      }
   }

   ul.nav {
      padding: 0;
      margin: 0;
      li {
         list-style-type: none;
         float:right;
         a {
            padding: 12px 8px 0;
            display: block;
            color: #555;

         }
      }
   }
}

div#content {
   margin-top: 100px;
   padding: 0 50px;
}